@model BooksAndBooks.Models.Book


<div class="text-center">
    <form asp-controler="Home" asp-action="Edit" method="POST">
        <fieldset>
            <div class="form-group">
                <input type="hidden" asp-for="Id">

                <label for="Name">Name</label>
                <input class="form-control" id="Name" asp-for="Name" value="@Model.Name" />

                <label for="Name">Author</label>
                <input class="form-control" id="Author" asp-for="Author" value="@Model.Author" />
                
                <label for="PublishYear">Publish Year</label>
                <input class="form-control" id="PublishYear" asp-for="PublishYear" value="@Model.PublishYear" />

                <label for="Description">Description</label>
                <textarea class="form-control" id="Description" rows="3" asp-for="Description"
                    value="@Model.Description"></textarea>

                <div class="form-group">
                    <label for="exampleSelect1">Category</label>
                    <select class="form-control" id="exampleSelect1" asp-for="Category" value="@Model.Category">
                        <option value="1">Mystery</option>
                        <option value="2">Drama</option>
                        <option value="3">Fantasy</option>
                        <option value="4">Romance</option>
                        <option value="5">Suspense</option>
                    </select>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
        </fieldset>
    </form>
</div>